<p>footer works!</p>

<div class="footer">
    <div class="footer-content">
        <div class="footer-section about">

            <img src="assets/Pictures/logo.png" alt="logo" >
            <br>
            <p>
                Caviro is a brand inspired by the beauty and
                versatility of sports. The brand seeks to
                satisfy the needs of athletes through
                the comfort and customization of our designs.
            </p>
            <div class="contact">
                <br>
                <span><i class="fa fa-phone"></i>&nbsp; 1 475 343 2711</span>
                <span><i class="fa fa-envelope"></i>&nbsp; caviro@hotmail.com</span>
            </div>
            <div class="socials">
                <br><br>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
        </div>


        <div class="footer-section costumer-Service">
            <br><br><br>
            <h2>Costumer Service</h2>
            <br>
            <ul style="list-style-type: none">
                <a href="#"><li>Payment</li></a>
                <a href="#"><li>Shipping</li></a>
                <a href="#"><li>Returns</li></a>
                <a href="#"><li>FQAs</li></a>
            </ul>

        </div>
        <div class="footer-section contact-us">
            <br><br><br>
            <h2>Contact Us</h2>
            <br>
            <form action="footer.component.html" method="post">
                <input type="email" name="email" class="text-input contact-input" placeholder="Your email address...">
                <textarea name="message"  class="text-input contact-input" placeholder="Your message..."></textarea>
                <button type="submit" class="btn btn-big contact-btn">
                    <i class="fa fa-envelope">Send</i>
                </button>
            </form>

        </div>
    </div>
    <div class="footer-bottom">
        &copy;  caviro.com | Designed by Cesar Añasco and Fernando Cedeño
    </div>
</div>
